@model MZcms.Web.Areas.Admin.Models.RoleInfoModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary btn-block" href="./Add">添加权限组</a>
        </div>

        <div class="col-md-9">

            <form role="form">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">权限组名：</label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(item => item.RoleName, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-sm-3">@Html.ValidationMessageFor(item => item.RoleName)</div>
                </div>
                @Html.HiddenFor(item => item.ID)
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label"></label>
                    <div class="col-sm-9">
                        <label class="checkbox-inline power-check-all"><input value="0" id="CheckAll" name="CheckAll" type="checkbox">权限设置（全选 ）</label>
                        <ul class="checkbox-list">
                            @foreach (var p in (ViewBag.Privileges as MZcms.CommonModel.Privileges).Privilege)
                            {
                                <li>

                                    <label class="checkbox-inline parent-check"><input type="checkbox">@p.GroupName</label>
                                    <p>
                                        @foreach (var item in p.Items)
                                        {
                                            <label class="checkbox-inline"><input name="privilege" value="@item.PrivilegeId" type="checkbox">@item.Name</label>
                                        }
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                @Html.Hidden("hdPrivileges", (string)ViewBag.RolePrivilegeInfo)
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" onclick="submitRole()" class="btn btn-primary">保 存</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Areas/Admin/Scripts/PrivilegeEdit.js"></script>
}
